!!!
%html
%head
  %meta{:charset => "utf-8"}
  %title Tristone - О компании
  %link{:href => 'http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,300,400,600,700&subset=latin,cyrillic-ext,cyrillic', :rel => 'stylesheet', :type => 'text/css'}
  %link{:rel => "stylesheet", :href => "css/main.css"}
%body
  %header.header
    %a{:href => "#"}<
      %img{:src => "images/logo.png", :width => 113, :height => 24, :alt => "Отделочные материалы Tristone®"}
    %nav.nav
      %ul.nav-list
        %li.nav-item<
          %a.nav-link{:href => "#"} О компании
        %li.nav-item<
          %a.nav-link{:href => "#"} Каталог цветов
        %li.nav-item<
          %a.nav-link{:href => "#"} Изделия из камня
        %li.nav-item<
          %a.nav-link{:href => "#"} Где заказать?
        %li.nav-item<
          %a.nav-link{:href => "#"} Техническая информация
        %li.nav-item<
          %a.nav-link.nav-active{:href => "#"} Как связаться

  .body
    %aside.left-col
      %h2 О компании
      %ul.left-menu
        %li.left-menu-item.left-menu-active<
          %a.left-menu-link{:href => "#"} Общая информация
        %li.left-menu-item<
          %a.left-menu-link{:href => "#"} Юридическая информация
        %li.left-menu-item<
          %a.left-menu-link{:href => "#"} Вакансии
        %li.left-menu-item<
          %a.left-menu-link{:href => "#"} Партнеры
        %li.left-menu-item<
          %a.left-menu-link{:href => "#"} Контактная информация
      %p.snippet
        Материалы для поверхностей Tristone® можно встретить везде. Именно эти поверхности выбирают
        архитекторы и дизайнеры для применений в медицинской и пищевой отрасли, в гостиничном деле,
        в бизнес-центрах, школах и, конечно, частных домах — везде Tristone®.

    %section.page-content.decorate.decorate-about
      .wrapper
        %h1 Общая информация
        .two-columns
          %p
            То, что некоторое время назад казалось невозможным, сегодня получило большое распространение и активно
            используется человеком. Речь идет о материале TRISTONE, который характеризуется точной имитацией натуральных
            камней, начиная от мрамора и заканчивая малахитом. Удачно скопирована внешняя красота природного камня,
            а также его индивидуальные свойства. При этом недостатки искусственного камня успешно искоренены,
            благодаря чему заказчик получает потрясающий материал, способный принять любую форму, сохраняя ощущение
            присутствия натурального камня.
          %p
            Безусловно, современный искусственный камень TRISTONE заслуживает внимания человека, ведь его вешние
            характеристики поддерживаются невероятными свойствами.
          %p
            Полностью искусственный камень (100% акрил) представляет собой новое поколение отделочных камней XXI века.
            При этом он не вредит окружающей природе и здоровью человека. Гигиеничность камня позволяет использовать
            его там, где происходит приготовление пищи. Эксплуатационный период бесконечно долог, полностью отсутствуют
            швы и стыки. Пластичность камня TRISTONE позволяет создавать любые формы, которые только может придумать
            заказчик. Допускается сочетание в одном изделии искусственного камня и металла, стекла, дерева. Многие
            клиенты нашли интересной идею создания разноцветной инкрустации, благодаря разнообразию цветов и фактур.
          %p
            Искусственный камень TRISTONE не имеет пор, следовательно, исключает возможность образования плесени,
            развития бактерий, появления неприятных запахов и пятен. Ванная комната и кухня будут всегда безупречно
            чисты, а это огромное достоинство.
          %p
            Благодаря своим преимуществам искусственный камень TRISTONE нашел применение не только в частных
            домах и квартирах, но и в общественных заведениях, где повышенное внимание уделяется гигиенической чистоте.
            Это всевозможные медицинские учреждения, салоны красоты, рестораны и даже офисы. И в каждом помещении,
            где используется искусственный камень, формируется современный дизайн без особых усилий декоратора.
          %p
            Уход за поверхностью камня TRISTONE заключается в использовании привычных чистящих и моющих средств.
            При возникновении царапин производится шлифовка, возвращающая изделию первоначальный внешний вид.
          %p
            Искусственный камень TRISTONE имеет качество, подтвержденное гарантийным сроком в 10 лет.

  %footer.footer
    .footer-snippet
      %img{:src => "images/logo_bottom.png", :width => 113, :height => 42, :alt => "Отделочные материалы Tristone®"}
      %p.footer-snippet-text
        Уникальный по своим характеристикам материал TRISTONE был создан на базе современных разработок и на
        высокотехнологичном оборудовании.
    .wrapper
      %ul.footer-nav
        %li.footer-nav-item
          %a.footer-nav-link.footer-nav-active{:href => "#"} О компании
        %li.footer-nav-item
          %a.footer-nav-link{:href => "#"} Каталог цветов
        %li.footer-nav-item
          %a.footer-nav-link{:href => "#"} Изделия из камня
        %li.footer-nav-item
          %a.footer-nav-link{:href => "#"} Где заказать?
        %li.footer-nav-item
          %a.footer-nav-link{:href => "#"} Техническая информация
        %li.footer-nav-item
          %a.footer-nav-link{:href => "#"} Как связаться
      %p.footer-contact
        %strong Главный офис
        %br
        41-5 Moonpyong-Dong,
        %br
        Daeduk-Gu, Daejeon, Korea
        %br
        +82 42 930 3300
        %br
        %a{:href => "mailto:tristone@lion-cemtech.co.kr"} tristone@lion-cemtech.co.kr
      %p.footer-contact
        %strong Tristone Россия
        %br
        Москва, Фрунзенская наб., 30,
        %br
        офис 54
        %br
        +7 (499) 242-80-51
        %br
        %a{:href => "mailto:info@tristone.ru"} info@tristone.ru
      %p.footer-copyright
        © 2010-2013 © LION CHEMTECH, 2013 г. Все права защищены. Логотип Tristone™ и все названия продуктов,
        отмеченные символом ® или ™ являются зарегистрированными товарными знаками или товарными знаками
        компании Lion Chemtech или ее филиалов.
      %p.footer-developer Design by Openlac
