!!!
%html
%head
  %meta{:charset => "utf-8"}
  %title Tristone - Tristone® Baroque T002 Tourmaline
  %link{:href => 'http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,300,400,600,700&subset=latin,cyrillic-ext,cyrillic', :rel => 'stylesheet', :type => 'text/css'}
  %link{:rel => "stylesheet", :href => "css/main.css"}
%body
  %header.header
    %a{:href => "#"}<
      %img{:src => "images/logo.png", :width => 113, :height => 24, :alt => "Отделочные материалы Tristone®"}
    %nav.nav
      %ul.nav-list
        %li.nav-item<
          %a.nav-link{:href => "#"} О компании
        %li.nav-item<
          %a.nav-link.nav-active{:href => "#"} Каталог цветов
        %li.nav-item<
          %a.nav-link{:href => "#"} Изделия из камня
        %li.nav-item<
          %a.nav-link{:href => "#"} Где заказать?
        %li.nav-item<
          %a.nav-link{:href => "#"} Техническая информация
        %li.nav-item<
          %a.nav-link{:href => "#"} Как связаться

  .body
    %aside.left-col
      %h2 Каталог цветов
      %ul.left-menu.js-anchor-menu
        %li.left-menu-item.left-menu-active<
          %a.left-menu-link.smooth-scroll{:href => "#T"} Baroque (T)
          %ul.left-submenu
            %li.left-submenu-item<
              %a.left-submenu-link{:href => "#"}<
                %img{:src => "images/stones/t_001_mini.jpg", :alt => "T-001"}
                %span T-001
                Chalcedony
            %li.left-submenu-item.left-submenu-active<
              %a.left-submenu-link{:href => "#"}<
                %img{:src => "images/stones/t_002_mini.jpg", :alt => "T-002"}
                %span T-002
                Tourmaline
            %li.left-submenu-item<
              %a.left-submenu-link{:href => "#"}<
                %img{:src => "images/stones/t_003_mini.jpg", :alt => "T-003"}
                %span T-003
                Ambiance
            %li.left-submenu-item<
              %a.left-submenu-link{:href => "#"}<
                %img{:src => "images/stones/t_004_mini.jpg", :alt => "T-004"}
                %span T-004
                Alexandrite
            %li.left-submenu-item<
              %a.left-submenu-link{:href => "#"}<
                %img{:src => "images/stones/t_005_mini.jpg", :alt => "T-005"}
                %span T-005
                Onyx
            %li.left-submenu-item<
              %a.left-submenu-link{:href => "#"}<
                %img{:src => "images/stones/t_006_mini.jpg", :alt => "T-006"}
                %span T-006
                Tanzanite
            %li.left-submenu-item<
              %a.left-submenu-link{:href => "#"}<
                %img{:src => "images/stones/t_007_mini.jpg", :alt => "T-007"}
                %span T-007
                Zultanite
            %li.left-submenu-item<
              %a.left-submenu-link{:href => "#"}<
                %img{:src => "images/stones/t_004_mini.jpg", :alt => "T-004"}
                %span T-004
                Alexandrite
            %li.left-submenu-item<
              %a.left-submenu-link{:href => "#"}<
                %img{:src => "images/stones/t_005_mini.jpg", :alt => "T-005"}
                %span T-005
                Onyx
            %li.left-submenu-item<
              %a.left-submenu-link{:href => "#"}<
                %img{:src => "images/stones/t_006_mini.jpg", :alt => "T-006"}
                %span T-006
                Tanzanite
            %li.left-submenu-item<
              %a.left-submenu-link{:href => "#"}<
                %img{:src => "images/stones/t_007_mini.jpg", :alt => "T-007"}
                %span T-007
                Zultanite
        %li.left-menu-item<
          %a.left-menu-link.smooth-scroll{:href => "#F"} Romantic (F)
          %ul.left-submenu
            %li.left-submenu-item<
              %a.left-submenu-link{:href => "#"}<
                %img{:src => "images/stones/t_001_mini.jpg", :alt => "F-001"}
                %span F-001
                Chalcedony
            %li.left-submenu-item<
              %a.left-submenu-link{:href => "#"}<
                %img{:src => "images/stones/t_002_mini.jpg", :alt => "F-002"}
                %span F-002
                Tourmaline
            %li.left-submenu-item<
              %a.left-submenu-link{:href => "#"}<
                %img{:src => "images/stones/t_003_mini.jpg", :alt => "F-003"}
                %span F-003
                Ambiance
            %li.left-submenu-item<
              %a.left-submenu-link{:href => "#"}<
                %img{:src => "images/stones/t_004_mini.jpg", :alt => "F-004"}
                %span F-004
                Alexandrite
            %li.left-submenu-item<
              %a.left-submenu-link{:href => "#"}<
                %img{:src => "images/stones/t_005_mini.jpg", :alt => "F-005"}
                %span F-005
                Onyx
            %li.left-submenu-item<
              %a.left-submenu-link{:href => "#"}<
                %img{:src => "images/stones/t_006_mini.jpg", :alt => "F-006"}
                %span F-006</span> Tanzanite</a></li>
            %li.left-submenu-item<
              %a.left-submenu-link{:href => "#"}<
                %img{:src => "images/stones/t_007_mini.jpg", :alt => "F-007"}
                %span F-007
                Zultanite
        %li.left-menu-item<
          %a.left-menu-link.smooth-scroll{:href => "#TS"} Byzantine (TS, MT)
          %ul.left-submenu
            %li.left-submenu-item<
              %a.left-submenu-link{:href => "#"}<
                %img{:src => "images/stones/t_001_mini.jpg", :alt => "TS-001"}
                %span TS-001
                Chalcedony
            %li.left-submenu-item<
              %a.left-submenu-link{:href => "#"}<
                %img{:src => "images/stones/t_002_mini.jpg", :alt => "TS-002"}
                %span TS-002
                Tourmaline
            %li.left-submenu-item<
              %a.left-submenu-link{:href => "#"}<
                %img{:src => "images/stones/t_003_mini.jpg", :alt => "TS-003"}
                %span TS-003
                Ambiance
            %li.left-submenu-item<
              %a.left-submenu-link{:href => "#"}<
                %img{:src => "images/stones/t_004_mini.jpg", :alt => "MT-004"}
                %span MT-004
                Alexandrite
            %li.left-submenu-item<
              %a.left-submenu-link{:href => "#"}<
                %img{:src => "images/stones/t_005_mini.jpg", :alt => "MT-005"}
                %span MT-005
                Onyx
            %li.left-submenu-item<
              %a.left-submenu-link{:href => "#"}<
                %img{:src => "images/stones/t_006_mini.jpg", :alt => "MT-006"}
                %span MT-006
                Tanzanite
      %p.snippet
        Материалы для поверхностей Tristone® можно встретить везде. Именно эти поверхности выбирают
        архитекторы и дизайнеры для применений в медицинской и пищевой отрасли, в гостиничном деле,
        в бизнес-центрах, школах и, конечно, частных домах — везде Tristone®.

    %section.page-content
      .wrapper.wide
        .item-info
          %header.item-info-title
            %h1 Tristone<sup>®</sup> Baroque T002 Tourmaline
            %p.subtitle Искусственный акриловый камень
          .item-info-short
            .item-info-image
              %img{:src => "images/stones/t_002_big.jpg", :alt => "Tristone® Baroque T002 Tourmaline"}
            %dl.item-info-props
              %dt Оттенок
              %dd Tourmaline
              %dt Артикул
              %dd T002
              %dt Группа
              %dd Baroque
            %dl.item-info-props
              %dt Прозрачность
              %dd нет
              %dt Полировка
              %dd глянцевая
              %dt Термоформинг
              %dd да
              %dt Вкрапления
              %dd крупные
            %dl.item-info-props
              %dt Д x Ш x В (мм) листа
              %dd
                3680 &nbsp; x &nbsp; 760 &nbsp; x &nbsp; 12,3
                %br
                3680 &nbsp; x &nbsp; 760 &nbsp; x &nbsp; 9,0
                %br
                3680 &nbsp; x &nbsp; 540 &nbsp; x &nbsp; 6,4
          .item-info-text
            %p
              Царапины, пыль и повседневное загрязнение более заметны на темных, однотонных цветах искусственного камня,
              чем на светлых цветах с богатой текстурой. Мы не рекомендуем использовать темные, однотонные цвета
              для активно используемых поверхностей. Они более уместны для инкрустаций и создания
              цветовых акцентов в интерьере.
            %p
              При изготовлении кухонных столешниц и моек из искусственного камня с крупнофактурной структурой рисунка и
              цветами с напылением металлик возможно несоответствие структуры на стыке двух частей.
            %p
              Серия искусственных акриловых камней в листах с прозрачностью представляет цвета с улучшенной способностью
              проводить свет, что повышает возможность использования искусственного камня при производстве изделий
              в сочетании со светом.
            %p
              %a{:href => "#"} Технические характеристики
              %br
              %a{:href => "#"} Сертификат безопасности
            %button.base-button.js-order-link Заказать у дилера
        %h2.like-h1 Примеры использования
        %p
          Материалы для поверхностей Tristone® можно встретить везде. Именно эти поверхности выбирают
          архитекторы и дизайнеры для применений в медицинской и пищевой отрасли, в гостиничном деле,
          в бизнес-центрах, школах и, конечно, частных домах — везде Tristone®.
        %ul.work-filter
          %li.work-filter-item.work-filter-active
            %a{:href => "#"} Все работы
          %li.work-filter-item
            %a{:href => "#"} Подоконники
          %li.work-filter-item
            %a{:href => "#"} Мебель
          %li.work-filter-item
            %a{:href => "#"} Столешницы
          %li.work-filter-item
            %a{:href => "#"} Пороги
          %li.work-filter-item
            %a{:href => "#"} Подиум для ванной
          %li.work-filter-item
            %a{:href => "#"} Стеновые покрытия
          %li.work-filter-item
            %a{:href => "#"} Полки
          %li.work-filter-item
            %a{:href => "#"} Ванная
          %li.work-filter-item
            %a{:href => "#"} Раковины
          %li.work-filter-item
            %a{:href => "#"} Барные стойки
          %li.work-filter-item
            %a{:href => "#"} Кухонные столешницы
        .work-preview.js-work-slider
          %ul.work-preview-list
            %li.work-preview-item
              %a.work-preview-link{:href => "#"}><
                %img.work-preview-image{:src => "images/works/t002_kitchen_1.jpg", :alt => ""}
            %li.work-preview-item
              %a.work-preview-link{:href => "#"}><
                %img.work-preview-image{:src => "images/works/t002_corridor_1.jpg", :alt => ""}
            %li.work-preview-item
              %a.work-preview-link{:href => "#"}><
                %img.work-preview-image{:src => "images/works/t002_bathroom_1.jpg", :alt => ""}
            %li.work-preview-item
              %a.work-preview-link{:href => "#"}><
                %img.work-preview-image{:src => "images/works/t002_sinks_1.jpg", :alt => ""}
            %li.work-preview-item
              %a.work-preview-link{:href => "#"}><
                %img.work-preview-image{:src => "images/works/t002_bath_1.jpg", :alt => ""}
          %p
            %a{:href => "#"} Еще работы
        %p
          Расцветка Baroque T003 искусственного камня Tristone® относиться к коллекции Romantic
          (вулканическая коллекция). Основой для фона стала вулканическая порода, структура которой образовалась
          после извержения. Плотное расположение элементов различных цветов, формы и размера делает
          рисунок поверхности очень ярким, что, как нам кажется, будет оригинально смотреться на больших изделиях:
          <a href="#">кухонные столешницы</a>, <a href="#">барные стойки</a>, <a href="#">подоконники</a>
          и других деталях мебели и интерьера.
        %h2.like-h1 Где купить?
        %p
          Если вы хотите заказать готовое изделие для дома, офиса или предприятие из искусственного камня
          Tristone® Baroque T003, мы рекомендуем вам наших партнёров в регионах, качество производимых изделий
          во многом зависит от качества нашего материала.
        %p
          Вы можете заказать любое изделие из камня Tristone® у 6 официальных дилеров в России и СНГ,
          которые представлены в 68 городах и 1547 салонах.
        %p
          %a{:href => "#"} Список официальных дилеров по городам
        %h2.like-h1 Другие камни из коллекции Baroque (T)
        %ul.catalogue-list.mt0
          %li.catalogue-item
            %img{:src => "images/stones/t_001.jpg", :alt => "T-001 Chalcedony"}
            .catalogue-item-back
              .catalogue-item-art T-001
              Chalcedony
              %a.catalogue-item-link{:href => "#"} Подробнее
            %small.catalogue-item-tip
              %span T-001
              Chalcedony
          %li.catalogue-item
            %img{:src => "images/stones/t_003.jpg", :alt => "T-003 Ambiance"}
            .catalogue-item-back
              .catalogue-item-art T-003
              Ambiance
              %a.catalogue-item-link{:href => "#"} Подробнее
            %small.catalogue-item-tip
              %span T-003
              Ambiance
          %li.catalogue-item
            %img{:src => "images/stones/t_004.jpg", :alt => "T-004 Alexandrite"}
            .catalogue-item-back
              .catalogue-item-art T-004
              Alexandrite
              %a.catalogue-item-link{:href => "#"} Подробнее
            %small.catalogue-item-tip
              %span T-004
              Alexandrite
          %li.catalogue-item
            %img{:src => "images/stones/t_005.jpg", :alt => "T-005 Onyx"}
            .catalogue-item-back
              .catalogue-item-art T-005
              Onyx
              %a.catalogue-item-link{:href => "#"} Подробнее
            %small.catalogue-item-tip
              %span T-005
              Onyx
          %li.catalogue-item
            %img{:src => "images/stones/t_006.jpg", :alt => "T-006 Tanzanite"}
            .catalogue-item-back
              .catalogue-item-art T-006
              Tanzanite
              %a.catalogue-item-link{:href => "#"} Подробнее
            %small.catalogue-item-tip
              %span T-006
              Tanzanite
          %li.catalogue-item
            %img{:src => "images/stones/t_007.jpg", :alt => "T-007 Zultanite"}
            .catalogue-item-back
              .catalogue-item-art T-007
              Zultanite
              %a.catalogue-item-link{:href => "#"} Подробнее
            %small.catalogue-item-tip
              %span T-007
              Zultanite
          %li.catalogue-item
            %img{:src => "images/stones/t_004.jpg", :alt => "T-004 Alexandrite"}
            .catalogue-item-back
              .catalogue-item-art T-004
              Alexandrite
              %a.catalogue-item-link{:href => "#"} Подробнее
            %small.catalogue-item-tip
              %span T-004
              Alexandrite
          %li.catalogue-item
            %img{:src => "images/stones/t_005.jpg", :alt => "T-005 Onyx"}
            .catalogue-item-back
              .catalogue-item-art T-005
              Onyx
              %a.catalogue-item-link{:href => "#"} Подробнее
            %small.catalogue-item-tip
              %span T-005
              Onyx
          %li.catalogue-item
            %img{:src => "images/stones/t_006.jpg", :alt => "T-006 Tanzanite"}
            .catalogue-item-back
              .catalogue-item-art T-006
              Tanzanite
              %a.catalogue-item-link{:href => "#"} Подробнее
            %small.catalogue-item-tip
              %span T-006
              Tanzanite
          %li.catalogue-item
            %img{:src => "images/stones/t_007.jpg", :alt => "T-007 Zultanite"}
            .catalogue-item-back
              .catalogue-item-art T-007
              Zultanite
              %a.catalogue-item-link{:href => "#"} Подробнее
            %small.catalogue-item-tip
              %span T-007
              Zultanite

  %footer.footer
    .footer-snippet
      %img{:src => "images/logo_bottom.png", :width => 113, :height => 42, :alt => "Отделочные материалы Tristone®"}
      %p.footer-snippet-text
        Уникальный по своим характеристикам материал TRISTONE был создан на базе современных разработок и на
        высокотехнологичном оборудовании.
    .wrapper
      %ul.footer-nav
        %li.footer-nav-item
          %a.footer-nav-link{:href => "#"} О компании
        %li.footer-nav-item
          %a.footer-nav-link.footer-nav-active{:href => "#"} Каталог цветов
        %li.footer-nav-item
          %a.footer-nav-link{:href => "#"} Изделия из камня
        %li.footer-nav-item
          %a.footer-nav-link{:href => "#"} Где заказать?
        %li.footer-nav-item
          %a.footer-nav-link{:href => "#"} Техническая информация
        %li.footer-nav-item
          %a.footer-nav-link{:href => "#"} Как связаться
      %p.footer-contact
        %strong Главный офис
        %br
        41-5 Moonpyong-Dong,
        %br
        Daeduk-Gu, Daejeon, Korea
        %br
        +82 42 930 3300
        %br
        %a{:href => "mailto:tristone@lion-cemtech.co.kr"} tristone@lion-cemtech.co.kr
      %p.footer-contact
        %strong Tristone Россия
        %br
        Москва, Фрунзенская наб., 30,
        %br
        офис 54
        %br
        +7 (499) 242-80-51
        %br
        %a{:href => "mailto:info@tristone.ru"} info@tristone.ru
      %p.footer-copyright
        © 2010-2013 © LION CHEMTECH, 2013 г. Все права защищены. Логотип Tristone™ и все названия продуктов,
        отмеченные символом ® или ™ являются зарегистрированными товарными знаками или товарными знаками
        компании Lion Chemtech или ее филиалов.
      %p.footer-developer Design by Openlac
  .overlay.js-overlay
  .popup.js-order-popup
    %a.popup-close.js-popup-close{href: '#'} Закрыть
    %h2 Оформить заявку на поставку камня
    %ul.order-list
      %li.order-item
        .order-that
          %img.order-that-image{:src => "images/stones/t_005_order.jpg", :alt => ''}
          .order-that-name Tristone® Baroque T003
          %select.order-that-type
            %option Лист, мм   3680 x 760 x 12,3
        .order-amount
          %label.order-amount-label Количество листов:
          %input.order-amount-input{:type => "text", :value => 4}
          шт.
        .order-action
          %a.order-item-delete{:href => "#", :title => "Удалить камень из заказа"} Удалить камень из заказа
    .add-order-item
      %a{:href => "#"} Добавить камень
    %form.order-form{:action => "/"}
      %fieldset
        .form-horizontal-field
          %input.form-field{:type => "text", :placeholder => "Наименование организации"}
          .form-tip
            В формате:
            %br
            (ООО / ИП / ЗАО / ОАО “название&nbsp;компании”)
        .form-horizontal-field.form-error
          %input.form-field{:type => "text", :placeholder => "Контактное лицо (Имя, Фамилия)"}
          .form-tip Представьтесь (ФИО)
          .form-error-str Необходимо заполнить
        .form-horizontal-field
          %input.form-field{:type => "text", :placeholder => "Контактный телефон"}
          .form-tip Контактный телефон в формате +7 965 5000 192
        .form-horizontal-field
          %input.form-field{:type => "text", :placeholder => "Адрес электронной почты"}
        .form-horizontal-field
          %input.form-field{:type => "text", :placeholder => "Область, край"}
        .form-horizontal-field
          %input.form-field{:type => "text", :placeholder => "Город"}
      .form-buttons
        %a.form-cancel{:href => "#"} Удалить заказ
        %input.submit{type: 'submit', value: 'Оформить заказ'}

  %script{:src => "js/jquery-1.11.0.min.js"}
  %script{:src => "js/popup.js"}
  :javascript
    $(document).ready(function() {
      $('.js-anchor-menu .left-menu-active .left-submenu').css({display: 'block'}).parent().siblings().find('.left-submenu').css({display: 'none'});
      $('.js-anchor-menu .left-menu-link').on('click', function() {
        var $this = $(this);
        $this.next().slideDown(500);
        $this.closest('.left-menu-item').addClass('left-menu-active').siblings().removeClass('left-menu-active').find('.left-submenu').slideUp(500);
      });

      $(window).on('scroll', function() {
        var $menu = $('.left-col'), $doc = $(document);
        if ($doc.scrollTop() < $('.header').outerHeight()) {
          $menu.removeClass('fixed bottom');
        } else if ($doc.scrollTop() + $menu.outerHeight() > $doc.height() - $('.footer').outerHeight()) {
          $menu.removeClass('fixed').addClass('bottom').css({bottom: $('.footer').outerHeight()});
        } else {
          $menu.removeClass('bottom').addClass('fixed').css({bottom: 'auto'});
        }
      });
      $(window).trigger('scroll');

      $('.js-order-link').on('click', function() {
        return Popup.show('.js-order-popup');
      });
      $('.js-order-popup .js-popup-close').on('click', function() {
        return Popup.hide('.js-order-popup');
      });
    });
