!!!
%html
%head
  %meta{:charset => "utf-8"}
  %title Tristone - Каталог цветов
  %link{:href => 'http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,300,400,600,700&subset=latin,cyrillic-ext,cyrillic', :rel => 'stylesheet', :type => 'text/css'}
  %link{:rel => "stylesheet", :href => "css/main.css"}
%body
  %header.header
    %a{:href => "#"}<
      %img{:src => "images/logo.png", :width => 113, :height => 24, :alt => "Отделочные материалы Tristone®"}
    %nav.nav
      %ul.nav-list
        %li.nav-item<
          %a.nav-link{:href => "#"} О компании
        %li.nav-item<
          %a.nav-link.nav-active{:href => "#"} Каталог цветов
        %li.nav-item<
          %a.nav-link{:href => "#"} Изделия из камня
        %li.nav-item<
          %a.nav-link{:href => "#"} Где заказать?
        %li.nav-item<
          %a.nav-link{:href => "#"} Техническая информация
        %li.nav-item<
          %a.nav-link{:href => "#"} Как связаться

  .body
    %aside.left-col
      %h2 Каталог цветов
      %ul.left-menu.js-anchor-menu
        %li.left-menu-item<
          %a.left-menu-link.smooth-scroll{:href => "#T"} Baroque (T)
          %ul.left-submenu
            %li.left-submenu-item<
              %a.left-submenu-link{:href => "#"}<
                %img{:src => "images/stones/t_001_mini.jpg", :alt => "T-001"}
                %span T-001
                Chalcedony
            %li.left-submenu-item<
              %a.left-submenu-link{:href => "#"}<
                %img{:src => "images/stones/t_002_mini.jpg", :alt => "T-002"}
                %span T-002
                Tourmaline
            %li.left-submenu-item<
              %a.left-submenu-link{:href => "#"}<
                %img{:src => "images/stones/t_003_mini.jpg", :alt => "T-003"}
                %span T-003
                Ambiance
            %li.left-submenu-item<
              %a.left-submenu-link{:href => "#"}<
                %img{:src => "images/stones/t_004_mini.jpg", :alt => "T-004"}
                %span T-004
                Alexandrite
            %li.left-submenu-item<
              %a.left-submenu-link{:href => "#"}<
                %img{:src => "images/stones/t_005_mini.jpg", :alt => "T-005"}
                %span T-005
                Onyx
            %li.left-submenu-item<
              %a.left-submenu-link{:href => "#"}<
                %img{:src => "images/stones/t_006_mini.jpg", :alt => "T-006"}
                %span T-006
                Tanzanite
            %li.left-submenu-item<
              %a.left-submenu-link{:href => "#"}<
                %img{:src => "images/stones/t_007_mini.jpg", :alt => "T-007"}
                %span T-007
                Zultanite
            %li.left-submenu-item<
              %a.left-submenu-link{:href => "#"}<
                %img{:src => "images/stones/t_004_mini.jpg", :alt => "T-004"}
                %span T-004
                Alexandrite
            %li.left-submenu-item<
              %a.left-submenu-link{:href => "#"}<
                %img{:src => "images/stones/t_005_mini.jpg", :alt => "T-005"}
                %span T-005
                Onyx
            %li.left-submenu-item<
              %a.left-submenu-link{:href => "#"}<
                %img{:src => "images/stones/t_006_mini.jpg", :alt => "T-006"}
                %span T-006
                Tanzanite
            %li.left-submenu-item<
              %a.left-submenu-link{:href => "#"}<
                %img{:src => "images/stones/t_007_mini.jpg", :alt => "T-007"}
                %span T-007
                Zultanite
        %li.left-menu-item<
          %a.left-menu-link.smooth-scroll{:href => "#F"} Romantic (F)
          %ul.left-submenu
            %li.left-submenu-item<
              %a.left-submenu-link{:href => "#"}<
                %img{:src => "images/stones/t_001_mini.jpg", :alt => "F-001"}
                %span F-001
                Chalcedony
            %li.left-submenu-item<
              %a.left-submenu-link{:href => "#"}<
                %img{:src => "images/stones/t_002_mini.jpg", :alt => "F-002"}
                %span F-002
                Tourmaline
            %li.left-submenu-item<
              %a.left-submenu-link{:href => "#"}<
                %img{:src => "images/stones/t_003_mini.jpg", :alt => "F-003"}
                %span F-003
                Ambiance
            %li.left-submenu-item<
              %a.left-submenu-link{:href => "#"}<
                %img{:src => "images/stones/t_004_mini.jpg", :alt => "F-004"}
                %span F-004
                Alexandrite
            %li.left-submenu-item<
              %a.left-submenu-link{:href => "#"}<
                %img{:src => "images/stones/t_005_mini.jpg", :alt => "F-005"}
                %span F-005
                Onyx
            %li.left-submenu-item<
              %a.left-submenu-link{:href => "#"}<
                %img{:src => "images/stones/t_006_mini.jpg", :alt => "F-006"}
                %span F-006</span> Tanzanite</a></li>
            %li.left-submenu-item<
              %a.left-submenu-link{:href => "#"}<
                %img{:src => "images/stones/t_007_mini.jpg", :alt => "F-007"}
                %span F-007
                Zultanite
        %li.left-menu-item<
          %a.left-menu-link.smooth-scroll{:href => "#TS"} Byzantine (TS, MT)
          %ul.left-submenu
            %li.left-submenu-item<
              %a.left-submenu-link{:href => "#"}<
                %img{:src => "images/stones/t_001_mini.jpg", :alt => "TS-001"}
                %span TS-001
                Chalcedony
            %li.left-submenu-item<
              %a.left-submenu-link{:href => "#"}<
                %img{:src => "images/stones/t_002_mini.jpg", :alt => "TS-002"}
                %span TS-002
                Tourmaline
            %li.left-submenu-item<
              %a.left-submenu-link{:href => "#"}<
                %img{:src => "images/stones/t_003_mini.jpg", :alt => "TS-003"}
                %span TS-003
                Ambiance
            %li.left-submenu-item<
              %a.left-submenu-link{:href => "#"}<
                %img{:src => "images/stones/t_004_mini.jpg", :alt => "MT-004"}
                %span MT-004
                Alexandrite
            %li.left-submenu-item<
              %a.left-submenu-link{:href => "#"}<
                %img{:src => "images/stones/t_005_mini.jpg", :alt => "MT-005"}
                %span MT-005
                Onyx
            %li.left-submenu-item<
              %a.left-submenu-link{:href => "#"}<
                %img{:src => "images/stones/t_006_mini.jpg", :alt => "MT-006"}
                %span MT-006
                Tanzanite
      %p.snippet
        Материалы для поверхностей Tristone® можно встретить везде. Именно эти поверхности выбирают
        архитекторы и дизайнеры для применений в медицинской и пищевой отрасли, в гостиничном деле,
        в бизнес-центрах, школах и, конечно, частных домах — везде Tristone®.

    %section.page-content
      .wrapper.wide
        %h1.left Каталог цветов
        %h2#T.like-h1.anchor Baroque (T)
        %ul.catalogue-list
          %li.catalogue-item
            %img{:src => "images/stones/t_001.jpg", :alt => "T-001 Chalcedony"}
            .catalogue-item-back
              .catalogue-item-art T-001
              Chalcedony
              %a.catalogue-item-link{:href => "#"} Подробнее
            %small.catalogue-item-tip
              %span T-001
              Chalcedony
          %li.catalogue-item
            %img{:src => "images/stones/t_002.jpg", :alt => "T-002 Tourmaline"}
            .catalogue-item-back
              .catalogue-item-art T-002
              Tourmaline
              %a.catalogue-item-link{:href => "#"} Подробнее
            %small.catalogue-item-tip
              %span T-002
              Tourmaline
          %li.catalogue-item
            %img{:src => "images/stones/t_003.jpg", :alt => "T-003 Ambiance"}
            .catalogue-item-back
              .catalogue-item-art T-003
              Ambiance
              %a.catalogue-item-link{:href => "#"} Подробнее
            %small.catalogue-item-tip
              %span T-003
              Ambiance
          %li.catalogue-item
            %img{:src => "images/stones/t_004.jpg", :alt => "T-004 Alexandrite"}
            .catalogue-item-back
              .catalogue-item-art T-004
              Alexandrite
              %a.catalogue-item-link{:href => "#"} Подробнее
            %small.catalogue-item-tip
              %span T-004
              Alexandrite
          %li.catalogue-item
            %img{:src => "images/stones/t_005.jpg", :alt => "T-005 Onyx"}
            .catalogue-item-back
              .catalogue-item-art T-005
              Onyx
              %a.catalogue-item-link{:href => "#"} Подробнее
            %small.catalogue-item-tip
              %span T-005
              Onyx
          %li.catalogue-item
            %img{:src => "images/stones/t_006.jpg", :alt => "T-006 Tanzanite"}
            .catalogue-item-back
              .catalogue-item-art T-006
              Tanzanite
              %a.catalogue-item-link{:href => "#"} Подробнее
            %small.catalogue-item-tip
              %span T-006
              Tanzanite
          %li.catalogue-item
            %img{:src => "images/stones/t_007.jpg", :alt => "T-007 Zultanite"}
            .catalogue-item-back
              .catalogue-item-art T-007
              Zultanite
              %a.catalogue-item-link{:href => "#"} Подробнее
            %small.catalogue-item-tip
              %span T-007
              Zultanite
          %li.catalogue-item
            %img{:src => "images/stones/t_004.jpg", :alt => "T-004 Alexandrite"}
            .catalogue-item-back
              .catalogue-item-art T-004
              Alexandrite
              %a.catalogue-item-link{:href => "#"} Подробнее
            %small.catalogue-item-tip
              %span T-004
              Alexandrite
          %li.catalogue-item
            %img{:src => "images/stones/t_005.jpg", :alt => "T-005 Onyx"}
            .catalogue-item-back
              .catalogue-item-art T-005
              Onyx
              %a.catalogue-item-link{:href => "#"} Подробнее
            %small.catalogue-item-tip
              %span T-005
              Onyx
          %li.catalogue-item
            %img{:src => "images/stones/t_006.jpg", :alt => "T-006 Tanzanite"}
            .catalogue-item-back
              .catalogue-item-art T-006
              Tanzanite
              %a.catalogue-item-link{:href => "#"} Подробнее
            %small.catalogue-item-tip
              %span T-006
              Tanzanite
          %li.catalogue-item
            %img{:src => "images/stones/t_007.jpg", :alt => "T-007 Zultanite"}
            .catalogue-item-back
              .catalogue-item-art T-007
              Zultanite
              %a.catalogue-item-link{:href => "#"} Подробнее
            %small.catalogue-item-tip
              %span T-007
              Zultanite

        %h2#F.like-h1.anchor Romantic (F)
        %ul.catalogue-list
          %li.catalogue-item
            %img{:src => "images/stones/t_001.jpg", :alt => "F-001 Chalcedony"}
            .catalogue-item-back
              .catalogue-item-art F-001
              Chalcedony
              %a.catalogue-item-link{:href => "#"} Подробнее
            %small.catalogue-item-tip
              %span F-001
              Chalcedony
          %li.catalogue-item
            %img{:src => "images/stones/t_002.jpg", :alt => "F-002 Tourmaline"}
            .catalogue-item-back
              .catalogue-item-art F-002
              Tourmaline
              %a.catalogue-item-link{:href => "#"} Подробнее
            %small.catalogue-item-tip
              %span F-002
              Tourmaline
          %li.catalogue-item
            %img{:src => "images/stones/t_003.jpg", :alt => "F-003 Ambiance"}
            .catalogue-item-back
              .catalogue-item-art F-003
              Ambiance
              %a.catalogue-item-link{:href => "#"} Подробнее
            %small.catalogue-item-tip
              %span F-003
              Ambiance
          %li.catalogue-item
            %img{:src => "images/stones/t_004.jpg", :alt => "F-004 Alexandrite"}
            .catalogue-item-back
              .catalogue-item-art F-004
              Alexandrite
              %a.catalogue-item-link{:href => "#"} Подробнее
            %small.catalogue-item-tip
              %span F-004
              Alexandrite
          %li.catalogue-item
            %img{:src => "images/stones/t_005.jpg", :alt => "F-005 Onyx"}
            .catalogue-item-back
              .catalogue-item-art F-005
              Onyx
              %a.catalogue-item-link{:href => "#"} Подробнее
            %small.catalogue-item-tip
              %span F-005
              Onyx
          %li.catalogue-item
            %img{:src => "images/stones/t_006.jpg", :alt => "F-006 Tanzanite"}
            .catalogue-item-back
              .catalogue-item-art F-006
              Tanzanite
              %a.catalogue-item-link{:href => "#"} Подробнее
            %small.catalogue-item-tip
              %span F-006
              Tanzanite
          %li.catalogue-item
            %img{:src => "images/stones/t_007.jpg", :alt => "F-007 Zultanite"}
            .catalogue-item-back
              .catalogue-item-art F-007
              Zultanite
              %a.catalogue-item-link{:href => "#"} Подробнее
            %small.catalogue-item-tip
              %span F-007
              Zultanite

        %h2#TS.like-h1.anchor Byzantine (TS, MT)
        %ul.catalogue-list
          %li.catalogue-item
            %img{:src => "images/stones/t_001.jpg", :alt => "TS-001 Chalcedony"}
            .catalogue-item-back
              .catalogue-item-art TS-001
              Chalcedony
              %a.catalogue-item-link{:href => "#"} Подробнее
            %small.catalogue-item-tip
              %span TS-001
              Chalcedony
          %li.catalogue-item
            %img{:src => "images/stones/t_002.jpg", :alt => "TS-002 Tourmaline"}
            .catalogue-item-back
              .catalogue-item-art TS-002
              Tourmaline
              %a.catalogue-item-link{:href => "#"} Подробнее
            %small.catalogue-item-tip
              %span TS-002
              Tourmaline
          %li.catalogue-item
            %img{:src => "images/stones/t_003.jpg", :alt => "TS-003 Ambiance"}
            .catalogue-item-back
              .catalogue-item-art TS-003
              Ambiance
              %a.catalogue-item-link{:href => "#"} Подробнее
            %small.catalogue-item-tip
              %span TS-003
              Ambiance
          %li.catalogue-item
            %img{:src => "images/stones/t_004.jpg", :alt => "MT-004 Alexandrite"}
            .catalogue-item-back
              .catalogue-item-art MT-004
              Alexandrite
              %a.catalogue-item-link{:href => "#"} Подробнее
            %small.catalogue-item-tip
              %span MT-004
              Alexandrite
          %li.catalogue-item
            %img{:src => "images/stones/t_005.jpg", :alt => "MT-005 Onyx"}
            .catalogue-item-back
              .catalogue-item-art MT-005
              Onyx
              %a.catalogue-item-link{:href => "#"} Подробнее
            %small.catalogue-item-tip
              %span MT-005
              Onyx
          %li.catalogue-item
            %img{:src => "images/stones/t_006.jpg", :alt => "MT-006 Tanzanite"}
            .catalogue-item-back
              .catalogue-item-art MT-006
              Tanzanite
              %a.catalogue-item-link{:href => "#"} Подробнее
            %small.catalogue-item-tip
              %span MT-006
              Tanzanite

  %footer.footer
    .footer-snippet
      %img{:src => "images/logo_bottom.png", :width => 113, :height => 42, :alt => "Отделочные материалы Tristone®"}
      %p.footer-snippet-text
        Уникальный по своим характеристикам материал TRISTONE был создан на базе современных разработок и на
        высокотехнологичном оборудовании.
    .wrapper
      %ul.footer-nav
        %li.footer-nav-item
          %a.footer-nav-link{:href => "#"} О компании
        %li.footer-nav-item
          %a.footer-nav-link.footer-nav-active{:href => "#"} Каталог цветов
        %li.footer-nav-item
          %a.footer-nav-link{:href => "#"} Изделия из камня
        %li.footer-nav-item
          %a.footer-nav-link{:href => "#"} Где заказать?
        %li.footer-nav-item
          %a.footer-nav-link{:href => "#"} Техническая информация
        %li.footer-nav-item
          %a.footer-nav-link{:href => "#"} Как связаться
      %p.footer-contact
        %strong Главный офис
        %br
        41-5 Moonpyong-Dong,
        %br
        Daeduk-Gu, Daejeon, Korea
        %br
        +82 42 930 3300
        %br
        %a{:href => "mailto:tristone@lion-cemtech.co.kr"} tristone@lion-cemtech.co.kr
      %p.footer-contact
        %strong Tristone Россия
        %br
        Москва, Фрунзенская наб., 30,
        %br
        офис 54
        %br
        +7 (499) 242-80-51
        %br
        %a{:href => "mailto:info@tristone.ru"} info@tristone.ru
      %p.footer-copyright
        © 2010-2013 © LION CHEMTECH, 2013 г. Все права защищены. Логотип Tristone™ и все названия продуктов,
        отмеченные символом ® или ™ являются зарегистрированными товарными знаками или товарными знаками
        компании Lion Chemtech или ее филиалов.
      %p.footer-developer Design by Openlac
  %script{:src => "js/jquery-1.11.0.min.js"}
  %script{:src => "js/catalogue_ready.js"}
