!!!
%html
%head
  %meta{:charset => "utf-8"}
  %title Tristone - Дистрибьютеры
  %link{:href => 'http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,300,400,600,700&subset=latin,cyrillic-ext,cyrillic', :rel => 'stylesheet', :type => 'text/css'}
  %link{:rel => "stylesheet", :href => "css/main.css"}
%body
  %header.header
    %a{:href => "#"}<
      %img{:src => "images/logo.png", :width => 113, :height => 24, :alt => "Отделочные материалы Tristone®"}
    %nav.nav
      %ul.nav-list
        %li.nav-item<
          %a.nav-link{:href => "#"} О компании
        %li.nav-item<
          %a.nav-link{:href => "#"} Каталог цветов
        %li.nav-item<
          %a.nav-link{:href => "#"} Изделия из камня
        %li.nav-item<
          %a.nav-link.nav-active{:href => "#"} Где заказать?
        %li.nav-item<
          %a.nav-link{:href => "#"} Техническая информация
        %li.nav-item<
          %a.nav-link{:href => "#"} Как связаться

  .body
    %aside.left-col
      %h2 Где заказать?
      %ul.left-menu
        %li.left-menu-item.left-menu-active<
          %a.left-menu-link{:href => "#"} Дистрибьюторы
        %li.left-menu-item<
          %a.left-menu-link{:href => "#"} Сертифицированные обработчики
      %p.snippet
        Хотите стать партнером?
        %br
        %a{htrf: '#'} Написать нам
      %p.snippet
        Материалы для поверхностей Tristone® можно встретить везде. Именно эти поверхности выбирают
        архитекторы и дизайнеры для применений в медицинской и пищевой отрасли, в гостиничном деле,
        в бизнес-центрах, школах и, конечно, частных домах — везде Tristone®.

    %section.page-content
      .map-content
        Здесь вставить карту
      .wrapper
        %h1 Дистрибьюторы в России
        %p.w50
          Наша компания сотрудничает с 1345 салонами кухонь, студиями дизайна, производителями мебели,
          переработчиками камня. У любого нашего партнера вы можете заказать изделия из камня Tristone® и быть
          уверенными в том, что вы получите изделие высокого качества. Для того, что бы найти ближайшего к вам
          партнера выберите регион.
        %button.base-button.js-choose-region выбрать регион

  %footer.footer
    .footer-snippet
      %img{:src => "images/logo_bottom.png", :width => 113, :height => 42, :alt => "Отделочные материалы Tristone®"}
      %p.footer-snippet-text
        Уникальный по своим характеристикам материал TRISTONE был создан на базе современных разработок и на
        высокотехнологичном оборудовании.
    .wrapper
      %ul.footer-nav
        %li.footer-nav-item
          %a.footer-nav-link{:href => "#"} О компании
        %li.footer-nav-item
          %a.footer-nav-link{:href => "#"} Каталог цветов
        %li.footer-nav-item
          %a.footer-nav-link{:href => "#"} Изделия из камня
        %li.footer-nav-item
          %a.footer-nav-link.footer-nav-active{:href => "#"} Где заказать?
        %li.footer-nav-item
          %a.footer-nav-link{:href => "#"} Техническая информация
        %li.footer-nav-item
          %a.footer-nav-link{:href => "#"} Как связаться
      %p.footer-contact
        %strong Главный офис
        %br
        41-5 Moonpyong-Dong,
        %br
        Daeduk-Gu, Daejeon, Korea
        %br
        +82 42 930 3300
        %br
        %a{:href => "mailto:tristone@lion-cemtech.co.kr"} tristone@lion-cemtech.co.kr
      %p.footer-contact
        %strong Tristone Россия
        %br
        Москва, Фрунзенская наб., 30,
        %br
        офис 54
        %br
        +7 (499) 242-80-51
        %br
        %a{:href => "mailto:info@tristone.ru"} info@tristone.ru
      %p.footer-copyright
        © 2010-2013 © LION CHEMTECH, 2013 г. Все права защищены. Логотип Tristone™ и все названия продуктов,
        отмеченные символом ® или ™ являются зарегистрированными товарными знаками или товарными знаками
        компании Lion Chemtech или ее филиалов.
      %p.footer-developer Design by Openlac
  .overlay.js-overlay
  .popup.js-region-popup
    %a.popup-close.js-popup-close{href: '#'} Закрыть
    %h2 Выберите город
    %ul.region-column
      %li.region-item
        %a.region-link{href: '#'}>< Москва
      %li.region-item
        %a.region-link{href: '#'}>< Санкт-Петербург
      %li.region-char А
      %li.region-item
        %a.region-link{href: '#'}>< Архангельск
      %li.region-item
        %a.region-link{href: '#'}>< Астрахань
      %li.region-char Б
      %li.region-item
        %a.region-link{href: '#'}>< Барнаул
      %li.region-char В
      %li.region-item
        %a.region-link{href: '#'}>< Владивосток
      %li.region-item
        %a.region-link{href: '#'}>< Владимир
      %li.region-item
        %a.region-link{href: '#'}>< Волгоград
      %li.region-item
        %a.region-link{href: '#'}>< Воронеж
      %li.region-char Д
      %li.region-item
        %a.region-link{href: '#'}>< Дегтярск
      %li.region-item
        %a.region-link{href: '#'}>< Долматово
      %li.region-char Е
      %li.region-item
        %a.region-link{href: '#'}>< Екатеринбург
    %ul.region-column
      %li.region-char И
      %li.region-item
        %a.region-link{href: '#'}>< Ижевск
      %li.region-item
        %a.region-link{href: '#'}>< Иркутск
      %li.region-char К
      %li.region-item
        %a.region-link{href: '#'}>< Казань
      %li.region-item
        %a.region-link{href: '#'}>< Калининград
      %li.region-item
        %a.region-link{href: '#'}>< Кемерово
      %li.region-item
        %a.region-link{href: '#'}>< Киров
      %li.region-item
        %a.region-link{href: '#'}>< Краснодар
      %li.region-item
        %a.region-link{href: '#'}>< Красноярск
      %li.region-item
        %a.region-link{href: '#'}>< Курган
      %li.region-char М
      %li.region-item
        %a.region-link{href: '#'}>< Мурманск
      %li.region-char Н
      %li.region-item
        %a.region-link{href: '#'}>< Набережные Челны
      %li.region-item
        %a.region-link{href: '#'}>< Нижний Новгород
      %li.region-item
        %a.region-link{href: '#'}>< Новокузнецк
      %li.region-item
        %a.region-link{href: '#'}>< Новосибирск
      %li.region-item
        %a.region-link{href: '#'}>< Норильск
    %ul.region-column
      %li.region-char О
      %li.region-item
        %a.region-link{href: '#'}>< Омск
      %li.region-item
        %a.region-link{href: '#'}>< Орел
      %li.region-item
        %a.region-link{href: '#'}>< Оренбург
      %li.region-item
        %a.region-link{href: '#'}>< Орск
      %li.region-char П
      %li.region-item
        %a.region-link{href: '#'}>< Пермь
      %li.region-item
        %a.region-link{href: '#'}>< Петропавловск-Камчатский
      %li.region-char Р
      %li.region-item
        %a.region-link{href: '#'}>< Ростов-на-Дону
      %li.region-char С
      %li.region-item
        %a.region-link{href: '#'}>< Самара
      %li.region-item
        %a.region-link{href: '#'}>< Сахалин
      %li.region-item
        %a.region-link{href: '#'}>< Севастополь
      %li.region-item
        %a.region-link{href: '#'}>< Симферополь
      %li.region-char Т
      %li.region-item
        %a.region-link{href: '#'}>< Тверь
      %li.region-item
        %a.region-link{href: '#'}>< Тольятти
    %ul.region-column
      %li.region-item
        %a.region-link{href: '#'}>< Томь
      %li.region-item
        %a.region-link{href: '#'}>< Тюмень
      %li.region-char У
      %li.region-item
        %a.region-link{href: '#'}>< Улан-Удэ
      %li.region-item
        %a.region-link{href: '#'}>< Ульяновск
      %li.region-item
        %a.region-link{href: '#'}>< Учалы
      %li.region-item
        %a.region-link{href: '#'}>< Уфа
      %li.region-char Х
      %li.region-item
        %a.region-link{href: '#'}>< Хабаровск
      %li.region-char Ч
      %li.region-item
        %a.region-link{href: '#'}>< Челябинск
      %li.region-char Э
      %li.region-item
        %a.region-link{href: '#'}>< Элиста
      %li.region-char Я
      %li.region-item
        %a.region-link{href: '#'}>< Янаул
      %li.region-item
        %a.region-link{href: '#'}>< Ярославль
    %p.more-link
      %a{href: '#'} Не нашли свой город?

  %script{:src => "js/jquery-1.11.0.min.js"}
  %script{:src => "js/popup.js"}
  :javascript
    $(document).ready(function() {
      $('.js-choose-region').on('click', function() {
        return Popup.show('.js-region-popup');
      });
      $('.js-popup-close').on('click', function() {
        return Popup.hide('.js-region-popup');
      });
    });
