!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %title Tristone
    %link{:href => 'http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,300,400,600,700&subset=latin,cyrillic-ext,cyrillic', :rel => 'stylesheet', :type => 'text/css'}
    %link{:rel => "stylesheet", :href => "css/root.css"}
  %body
    %header.header
      %a{:href => "#"}<
        %img{:src => "images/logo.png", :width => 113, :height => 24, :alt => "Отделочные материалы Tristone®"}
      %nav.nav
        %ul.nav-list
          %li.nav-item<
            %a.nav-link{:href => "#"} О компании
          %li.nav-item<
            %a.nav-link{:href => "#"} Каталог цветов
          %li.nav-item<
            %a.nav-link{:href => "#"} Изделия из камня
          %li.nav-item<
            %a.nav-link{:href => "#"} Где заказать?
          %li.nav-item<
            %a.nav-link{:href => "#"} Техническая информация
          %li.nav-item<
            %a.nav-link{:href => "#"} Как связаться
    %section#welcome.frame
      .wrapper
        %h1
          Отделочный материал
          %strong Tristone®
        %p
          Уникальный по своим характеристикам материал TRISTONE был создан на базе современных разработок и
          на высокотехнологичном оборудовании. Исходное сырье поставляется исключительно качественное и
          по совокупности производится искусственный камень с превосходными потребительскими свойствами.
      .tip
        Листайте вниз
        %br
        или используйте стрелки
        %br
        клавиатуры
    #promo.frame
      .wrapper
        %section.left-pic
          %h2
            Материал
            %strong Tristone®
            представляет собой полностью искусственный акриловый камень.
          %img{:src => "images/promo1.jpg", :alt => ""}
          %p
            Гравируйте. Придавайте форму посредством термоформирования. Наносите оригинальные текстуры на поверхность.
            Материалы для поверхностей Lion Comtech™ Tristone® могут быть любыми, насколько хватит вашей фантазии.
            Округлые, практически без швов, органичные формы, в ярком цвете и прозрачные — только придумайте,
            а Tristone® создаст.
        %section.right-pic
          %h2 Широкие возможности
          %img{:src => "images/promo2.jpg", :alt => ""}
          %p
            Гордость изобретателей Lion Comtech, материал Tristone® продолжает развиваться и вдохновлять.
            Дизайнеры, художники, архитекторы, техники и обработчики со всего мира помогают Tristone® достигать
            все новых творческих высот с этим на редкость универсальным материалом. Выберите модную текстуру и
            цвет из широкого ассортимента. Или создайте свой оттенок.
          %p
            %a{:href => "#"} Палитра оттенков
    %section#catalogue.frame
      .wrapper
        .catalogue-promo
          %h2
            Каталог цветов
            %strong Tristone®
          %p
            Материалы для поверхностей Tristone® можно встретить везде. Именно эти поверхности выбирают
            архитекторы и дизайнеры для применений в медицинской и пищевой отрасли, в гостиничном деле,
            в бизнес-центрах, школах и, конечно, частных домах — везде Tristone®.
          %p.catalogue-capacity
            %strong
              58
              %span оттенков
          %p.catalogue-more
            %a{:href => "#"} Смотреть каталог камней
        %ul.catalogue-list
          %li.catalogue-item
            %img{:src => "images/stones/t_001.jpg", :alt => "T-001 Chalcedony"}
            .catalogue-item-back
              .catalogue-item-art T-001
              Chalcedony
              %a.catalogue-item-link{:href => "#"} Подробнее
            %small.catalogue-item-tip
              %span T-001
              Chalcedony
          %li.catalogue-item
            %img{:src => "images/stones/t_002.jpg", :alt => "T-002 Tourmaline"}
            .catalogue-item-back
              .catalogue-item-art T-002
              Tourmaline
              %a.catalogue-item-link{:href => "#"} Подробнее
            %small.catalogue-item-tip
              %span T-002
              Tourmaline
          %li.catalogue-item
            %img{:src => "images/stones/t_003.jpg", :alt => "T-003 Ambiance"}
            .catalogue-item-back
              .catalogue-item-art T-003
              Ambiance
              %a.catalogue-item-link{:href => "#"} Подробнее
            %small.catalogue-item-tip
              %span T-003
              Ambiance
          %li.catalogue-item
            %img{:src => "images/stones/t_004.jpg", :alt => "T-004 Alexandrite"}
            .catalogue-item-back
              .catalogue-item-art T-004
              Alexandrite
              %a.catalogue-item-link{:href => "#"} Подробнее
            %small.catalogue-item-tip
              %span T-004
              Alexandrite
          %li.catalogue-item
            %img{:src => "images/stones/t_005.jpg", :alt => "T-005 Onyx"}
            .catalogue-item-back
              .catalogue-item-art T-005
              Onyx
              %a.catalogue-item-link{:href => "#"} Подробнее
            %small.catalogue-item-tip
              %span T-005
              Onyx
          %li.catalogue-item
            %img{:src => "images/stones/t_006.jpg", :alt => "T-006 Tanzanite"}
            .catalogue-item-back
              .catalogue-item-art T-006
              Tanzanite
              %a.catalogue-item-link{:href => "#"} Подробнее
            %small.catalogue-item-tip
              %span T-006
              Tanzanite
          %li.catalogue-item
            %img{:src => "images/stones/t_007.jpg", :alt => "T-007 Zultanite"}
            .catalogue-item-back
              .catalogue-item-art T-007
              Zultanite
              %a.catalogue-item-link{:href => "#"} Подробнее
            %small.catalogue-item-tip
              %span T-007
              Zultanite
          %li.catalogue-item
            %img{:src => "images/stones/t_004.jpg", :alt => "T-004 Alexandrite"}
            .catalogue-item-back
              .catalogue-item-art T-004
              Alexandrite
              %a.catalogue-item-link{:href => "#"} Подробнее
            %small.catalogue-item-tip
              %span T-004
              Alexandrite
          %li.catalogue-item
            %img{:src => "images/stones/t_005.jpg", :alt => "T-005 Onyx"}
            .catalogue-item-back
              .catalogue-item-art T-005
              Onyx
              %a.catalogue-item-link{:href => "#"} Подробнее
            %small.catalogue-item-tip
              %span T-005
              Onyx
          %li.catalogue-item
            %img{:src => "images/stones/t_006.jpg", :alt => "T-006 Tanzanite"}
            .catalogue-item-back
              .catalogue-item-art T-006
              Tanzanite
              %a.catalogue-item-link{:href => "#"} Подробнее
            %small.catalogue-item-tip
              %span T-006
              Tanzanite
          %li.catalogue-item
            %img{:src => "images/stones/t_007.jpg", :alt => "T-007 Zultanite"}
            .catalogue-item-back
              .catalogue-item-art T-007
              Zultanite
              %a.catalogue-item-link{:href => "#"} Подробнее
            %small.catalogue-item-tip
              %span T-007
              Zultanite
          %li.catalogue-item
            %img{:src => "images/stones/t_001.jpg", :alt => "T-001 Chalcedony"}
            .catalogue-item-back
              .catalogue-item-art T-001
              Chalcedony
              %a.catalogue-item-link{:href => "#"} Подробнее
            %small.catalogue-item-tip
              %span T-001
              Chalcedony
          %li.catalogue-item
            %img{:src => "images/stones/t_002.jpg", :alt => "T-002 Tourmaline"}
            .catalogue-item-back
              .catalogue-item-art T-002
              Tourmaline
              %a.catalogue-item-link{:href => "#"} Подробнее
            %small.catalogue-item-tip
              %span T-002
              Tourmaline
          %li.catalogue-item
            %img{:src => "images/stones/t_003.jpg", :alt => "T-003 Ambiance"}
            .catalogue-item-back
              .catalogue-item-art T-003
              Ambiance
              %a.catalogue-item-link{:href => "#"} Подробнее
            %small.catalogue-item-tip
              %span T-003
              Ambiance
    %section#works.frame
      .wrapper
        .positioner
          .works-text
            %h2 Примеры использования
            %p
              Материалы для поверхностей Tristone® можно встретить везде. Именно эти поверхности выбирают архитекторы и
              дизайнеры для применений в медицинской и пищевой отрасли, в гостиничном деле, в бизнес-центрах, школах и,
              конечно, частных домах — везде Tristone®.
          %ul.works-list
            %li.works-item
              %a.works-link{:href => "#"} Кухонные мойки и столешницы
            %li.works-item
              %a.works-link{:href => "#"} Раковины для ванных
            %li.works-item
              %a.works-link{:href => "#"} Интерьеры
            %li.works-item
              %a.works-link{:href => "#"} Объекты декора
            %li.works-item
              %a.works-link{:href => "#"} Перенос изображения на Tristone®
            %li.works-item
              %a.works-link{:href => "#"} Мебель и интерьеры
            %li.works-item
              %a.works-link{:href => "#"} Другие применения
    %section#tech.frame
      .wrapper
        %h2 Технические характеристики продукта
        .column
          %h3 Спецификации продукта (7)
          %ul.doc-list
            %li.doc-item
              %a.doc-link.icon-pdf{:href => "#"} Что такое Tristone®? (на английском языке) (PDF)
            %li.doc-item
              %a.doc-link.icon-pdf{:href => "#"} Техническая информация (на английском языке) (PDF)
            %li.doc-item
              %a.doc-link.icon-pdf{:href => "#"}
                Инструкции по использованию и уходу для продукции Tristone® (на английском языке) (PDF)
            %li.doc-item
              %a.doc-link.icon-pdf{:href => "#"} Раковины и мойки из Tristone® (PDF)
            %li.doc-item
              %a.doc-link.icon-pdf{:href => "#"}
                Инструкции по использованию и уходу для продукции Tristone® (на английском языке) (PDF)
            %li.doc-item
              %a.doc-link.icon-pdf{:href => "#"}
                Инструкции по использованию и уходу для продукции Tristone® (на английском языке) (PDF)
        .column
          %h3 Дополнительная информация (9)
          %ul.doc-list
            %li.doc-item
              %a.doc-link.icon-pdf{:href => "#"} Палитра оттенков Tristone® (на английском языке) (PDF)
            %li.doc-item
              %a.doc-link.icon-pdf{:href => "#"}
                Палитра оттенков Tristone® для кухонных столешниц (на английском языке) (PDF)
            %li.doc-item
              %a.doc-link.icon-pdf{:href => "#"} Новое. Однотонные цвета Tristone® (на английском языке) (PDF)
            %li.doc-item
              %a.doc-link.icon-pdf{:href => "#"} Tristone® для наружной отделки (на английском языке) (PDF)
            %li.doc-item
              %a.doc-link.icon-pdf{:href => "#"} Перенесение изображений на Corian® (на английском языке) (PDF)
        %p.more
          %a{:href => "#"} Все документы (14)

    #footer.frame
      %section.seo-text
        %h2 Искусственный камень Тристоун
        %p
          На сегодняшний день наиболее подходящим как для наружных, так и для внутренних ремонтных работ
          считается такой строительный материал, как искусственный камень. Он прекрасно сочетается с другими
          декоративными материалами благодаря тому, что представлен в большом разнообразии оттенков и фактур.
          Кроме того, внешне искусственный камень невозможно отличить от натурального.
        %p
          Чтобы реализовать свои дизайнерские проекты, вы можете приобрести камень Тристоун в нашей компании.
          Он подходит для использования в бытовых условиях. Выполнив на кухне барную стойку из искусственного камня,
          вы получите представительную и солидную мебель. Кроме того, очень выгодно смотрятся изготовленные
          из акрилового камня стойки в банках, административных помещениях и стойки ресепшн.
          Тристоун при этом сохраняет свою гигиеничность, ведь его гладкая поверхность легко очищается.
        %p
          %a{:href => "#"} Узнать больше
      .footer
        .wrapper
          .footer-snippet
            %img{:src => "images/logo_bottom_root.png", :width => 114, :height => 46, :alt => "Отделочные материалы Tristone®"}
            %p.footer-snippet-text
              Уникальный по своим характеристикам материал TRISTONE был создан на базе современных разработок и на
              высокотехнологичном оборудовании.
          %p.footer-contact
            %strong Главный офис
            %br
            41-5 Moonpyong-Dong,
            %br
            Daeduk-Gu, Daejeon, Korea
            %br
            +82 42 930 3300
            %br
            %a{:href => "mailto:tristone@lion-cemtech.co.kr"} tristone@lion-cemtech.co.kr
          %p.footer-contact
            %strong Tristone Россия
            %br
            Москва, Фрунзенская наб., 30,
            %br
            офис 54
            %br
            +7 (499) 242-80-51
            %br
            %a{:href => "mailto:info@tristone.ru"} info@tristone.ru
          %ul.footer-nav
            %li.footer-nav-item
              %a.footer-nav-link{:href => "#"} О компании
            %li.footer-nav-item
              %a.footer-nav-link{:href => "#"} Каталог цветов
            %li.footer-nav-item
              %a.footer-nav-link{:href => "#"} Изделия из камня
            %li.footer-nav-item
              %a.footer-nav-link{:href => "#"} Где заказать?
            %li.footer-nav-item
              %a.footer-nav-link{:href => "#"} Техническая информация
            %li.footer-nav-item
              %a.footer-nav-link{:href => "#"} Как связаться
          %p.footer-copyright
            © 2010-2013 © LION CHEMTECH, 2013 г. Все права защищены. Логотип Tristone™ и все названия продуктов,
            отмеченные символом ® или ™ являются зарегистрированными товарными знаками или товарными знаками
            компании Lion Chemtech или ее филиалов.
          %p.footer-developer Design by Openlac

    %script{:src => "js/jquery-1.11.0.min.js"}
    %script{:src => "js/underscore-min.js"}
    %script{:src => "js/backbone-min.js"}
    %script{:src => "js/root_init.js"}
    %script{:src => "js/root_frames.js"}
    %script{:src => "js/root.js"}

