!!!
%html
%head
  %meta{:charset => "utf-8"}
  %title Tristone
  %link{:href => 'http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,300,400,600,700&subset=latin,cyrillic-ext,cyrillic', :rel => 'stylesheet', :type => 'text/css'}
  %link{:rel => "stylesheet", :href => "css/main.css"}
%body
  %header.header
    %a{:href => "#"}<
      %img{:src => "images/logo.png", :width => 113, :height => 24, :alt => "Отделочные материалы Tristone®"}
    %nav.nav
      %ul.nav-list
        %li.nav-item<
          %a.nav-link{:href => "#"} О компании
        %li.nav-item<
          %a.nav-link{:href => "#"} Каталог цветов
        %li.nav-item<
          %a.nav-link.nav-active{:href => "#"} Изделия из камня
        %li.nav-item<
          %a.nav-link{:href => "#"} Где заказать?
        %li.nav-item<
          %a.nav-link{:href => "#"} Техническая информация
        %li.nav-item<
          %a.nav-link{:href => "#"} Как связаться

  .body
    %aside.left-col
      %h2 Продукция из камня Tristone
      %ul.left-menu
        %li.left-menu-item<
          %a.left-menu-link{:href => "#"} Столешницы
        %li.left-menu-item<
          %a.left-menu-link{:href => "#"} Кухонные столешницы
        %li.left-menu-item.left-menu-active<
          %a.left-menu-link{:href => "#"} Стеновые покрытия
        %li.left-menu-item<
          %a.left-menu-link{:href => "#"} Фартуки
        %li.left-menu-item<
          %a.left-menu-link{:href => "#"} Подоконники
        %li.left-menu-item<
          %a.left-menu-link{:href => "#"} Пороги
        %li.left-menu-item<
          %a.left-menu-link{:href => "#"} Полки
        %li.left-menu-item<
          %a.left-menu-link{:href => "#"} Камины
        %li.left-menu-item<
          %a.left-menu-link{:href => "#"} Барные стойки, мебель
        %li.left-menu-item<
          %a.left-menu-link{:href => "#"} Подиум для душа
        %li.left-menu-item<
          %a.left-menu-link{:href => "#"} Подиум для ванной
        %li.left-menu-item<
          %a.left-menu-link{:href => "#"} Раковины
        %li.left-menu-item<
          %a.left-menu-link{:href => "#"} Другое
      %p.snippet
        Материалы для поверхностей Tristone® можно встретить везде. Именно эти поверхности выбирают
        архитекторы и дизайнеры для применений в медицинской и пищевой отрасли, в гостиничном деле,
        в бизнес-центрах, школах и, конечно, частных домах — везде Tristone®.

    %section.page-content
      .work-nav
        %a.work-nav-prev{:href => "#", :title => "Предыдущая работа"} Предыдущая работа
        %a.work-nav-next{:href => "#", :title => "Следующая работа"} Следующая работа
      %h1 Прямоугольная ванна Lupi
      .wrapper
        %p
          Современная эргономическая белая ванна. Дизайн Антонио Лупи (Antonio Lupi).
          %br
          Салон интерьерных решений <a href="#">“Деко’рум”</a>, Екатеринбург.
      .work-main-image
        %img{:src => 'images/works/work_main.jpg', :alt => ''}
      .wrapper
        .work-details
          .work-details-section
            .work-materials
              В интерьере использованы материалы Tristone:
              %ul.work-materials-list
                %li.work-materials-item
                  %a.work-materials-link{:href => "#"}
                    %img{:alt => "T-001", :src => "images/stones/t_001_mini.jpg"}
                    %span T-001
                    Chalcedony
                %li.work-materials-item
                  %a.work-materials-link{:href => "#"}
                    %img{:alt => "T-002", :src => "images/stones/t_002_mini.jpg"}
                      %span T-002
                      Tourmaline
                %li.work-materials-item
                  %a.work-materials-link{:href => "#"}
                    %img{:alt => "T-003", :src => "images/stones/t_003_mini.jpg"}
                      %span T-003
                      Ambiance
          .work-details-section
            %h3 Салон интерьерных решений “Деко’ рум”
            %p
              620014, Екатеринбург, ул. Малышева, 39/2, офис 294, (БЦ Палладиум)
              %br
              +7 (343) 278-05-48
              %br
              +7 (343) 249-58-48
              %br
              %a{:href => "mailto:info@decoroom.ru"} info@decoroom.ru
            %p
              %a.js-contact-link{:href => "#"} Написать представителям салона
          .work-details-section
            %p Фотографии предоставлены салоном интерьерных решений “Деко’ рум”, Екатеринбург
            %p
              %a{:href => "#"} Все работы салона
        %h2.like-h1 Подробнее о проекте
        %p
          Современная эргономическая белая ванна. Дизайн Антонио Лупи (Antonio Lupi).
          %br
          Семья из четырех человек, тележурналисты Сара и Луи и двое детей, несколько лет назад переехала сюда
          из классического османовского дома. Раньше в этой квартире в здании 1940-х годов в Третьем округе Парижа
          располагался 200-метровый офис. От прежних времен в доме сохранились мраморные холлы и лестницы
          с позолоченными перилами – ничего общего с интерьером самой квартиры.
        %p
          %img{:src => 'images/works/work_01.jpg', :width => 610, :height => 450, :alt => ''}
        %p
          Хозяева делали ремонт сами, но пользовались подсказками архитектора Антонио Вирги. Вообще-то они
          мечтали жить среди краснокирпичных стен, но таковых в лофте оказалось всего две, поэтому в дело пошли
          белая и черная краски. Черного здесь вообще много – это один из любимых цветов хозяина.
        %p
          %img{:src => 'images/works/work_02.jpg', :width => 610, :height => 457, :alt => ''}
        %p
          Во время ремонта новые хозяева больше всего потратились на дубовый пол – хотели, чтобы он выглядел аутентично.
          Кухню IKEA перекрасили сами матовой черной краской. Двери между спальней и ванной – точно такие же,
          как рамы на окнах.
        %p.tip
          Фото предоставлено салоном интерьерных решений “Деко’ рум”, Екатеринбург
          %br
          %a{:href => '#'} Все работы салона

      %ul.works-list
        %li.works-item
          %a.works-link{:href => "#"}<
            %img.works-preview{:src => "images/works/t002_bath_1.jpg", :alt => ""}
        %li.works-item
          %a.works-link{:href => "#"}<
            %img.works-preview{:src => "images/works/t002_bathroom_1.jpg", :alt => ""}
        %li.works-item
          %a.works-link{:href => "#"}<
            %img.works-preview{:src => "images/works/t002_corridor_1.jpg", :alt => ""}
        %li.works-item
          %a.works-link{:href => "#"}<
            %img.works-preview{:src => "images/works/t002_kitchen_1.jpg", :alt => ""}
        %li.works-item
          %a.works-link{:href => "#"}<
            %img.works-preview{:src => "images/works/t002_sinks_1.jpg", :alt => ""}
        %li.works-item
          %a.works-link{:href => "#"}<
            %img.works-preview{:src => "images/works/t002_bath_1.jpg", :alt => ""}
        %li.works-item
          %a.works-link{:href => "#"}<
            %img.works-preview{:src => "images/works/t002_bathroom_1.jpg", :alt => ""}
        %li.works-item
          %a.works-link{:href => "#"}<
            %img.works-preview{:src => "images/works/t002_corridor_1.jpg", :alt => ""}
        %li.works-item
          %a.works-link{:href => "#"}<
            %img.works-preview{:src => "images/works/t002_kitchen_1.jpg", :alt => ""}
        %li.works-item
          %a.works-link{:href => "#"}<
            %img.works-preview{:src => "images/works/t002_sinks_1.jpg", :alt => ""}
        %li.works-item
          %a.works-link{:href => "#"}<
            %img.works-preview{:src => "images/works/t002_bath_1.jpg", :alt => ""}
        %li.works-item
          %a.works-link{:href => "#"}<
            %img.works-preview{:src => "images/works/t002_bathroom_1.jpg", :alt => ""}
        %li.works-item
          %a.works-link{:href => "#"}<
            %img.works-preview{:src => "images/works/t002_corridor_1.jpg", :alt => ""}
        %li.works-item
          %a.works-link{:href => "#"}<
            %img.works-preview{:src => "images/works/t002_kitchen_1.jpg", :alt => ""}
        %li.works-item
          %a.works-link{:href => "#"}<
            %img.works-preview{:src => "images/works/t002_sinks_1.jpg", :alt => ""}
      .wrapper
        %button.base-button Загрузить еще работы
        %h2.like-h1 Где купить?
        %p
          Если вы хотите заказать готовое изделие для дома, офиса или предприятие из искусственного камня Tristone®
          Baroque T003, мы рекомендуем вам наших партнёров в регионах, качество производимых изделий во многом
          зависит от качества нашего материала.
        %p
          Вы можете заказать любое изделие из камня Tristone® у 6 официальных дилеров  в России и СНГ,
          которые представлены в 68 городах и 1547 салонах.
        %p
          %a{:href => "#"} Список официальных дилеров по городам

  %footer.footer
    .footer-snippet
      %img{:src => "images/logo_bottom.png", :width => 113, :height => 42, :alt => "Отделочные материалы Tristone®"}
      %p.footer-snippet-text
        Уникальный по своим характеристикам материал TRISTONE был создан на базе современных разработок и на
        высокотехнологичном оборудовании.
    .wrapper
      %ul.footer-nav
        %li.footer-nav-item
          %a.footer-nav-link{:href => "#"} О компании
        %li.footer-nav-item
          %a.footer-nav-link{:href => "#"} Каталог цветов
        %li.footer-nav-item
          %a.footer-nav-link{:href => "#"} Изделия из камня
        %li.footer-nav-item
          %a.footer-nav-link{:href => "#"} Где заказать?
        %li.footer-nav-item
          %a.footer-nav-link.footer-nav-active{:href => "#"} Техническая информация
        %li.footer-nav-item
          %a.footer-nav-link{:href => "#"} Как связаться
      %p.footer-contact
        %strong Главный офис
        %br
        41-5 Moonpyong-Dong,
        %br
        Daeduk-Gu, Daejeon, Korea
        %br
        +82 42 930 3300
        %br
        %a{:href => "mailto:tristone@lion-cemtech.co.kr"} tristone@lion-cemtech.co.kr
      %p.footer-contact
        %strong Tristone Россия
        %br
        Москва, Фрунзенская наб., 30,
        %br
        офис 54
        %br
        +7 (499) 242-80-51
        %br
        %a{:href => "mailto:info@tristone.ru"} info@tristone.ru
      %p.footer-copyright
        © 2010-2013 © LION CHEMTECH, 2013 г. Все права защищены. Логотип Tristone™ и все названия продуктов,
        отмеченные символом ® или ™ являются зарегистрированными товарными знаками или товарными знаками
        компании Lion Chemtech или ее филиалов.
      %p.footer-developer Design by Openlac

  .overlay.js-overlay
  .work-popup
    %a.popup-close{:href => "#", :title => "Закрыть"} Закрыть
    %a.work-popup-arrow.work-popup-prev{:href => "#", :title => "Предыдущая работа"} Предыдущая работа
    %a.work-popup-arrow.work-popup-next{:href => "#", :title => "Следующая работа"} Следующая работа
  .popup.js-contact-popup
    %a.popup-close.js-popup-close{href: '#'} Закрыть
    %h2 Написать представителям салона
    %hr
    %form.order-form{:action => "/"}
      %fieldset
        .form-horizontal-field.form-error
          %input.form-field{:type => "text", :placeholder => "Представьтесь"}
          .form-tip Имя, фамилия
          .form-error-str Необходимо заполнить
        .form-horizontal-field
          %input.form-field{:type => "text", :placeholder => "Номер телефон"}
          .form-tip Телефон в формате +7 965 5000 192
        .form-horizontal-field
          %input.form-field{:type => "text", :placeholder => "Адрес электронной почты"}
        .form-horizontal-field.form-field-wide
          %textarea.form-field{:rows => 5, :placeholder => "Текст письма"}
      .form-buttons
        %input.submit{type: 'submit', value: 'Отправить письмо'}
  %script{:src => "js/jquery-1.11.0.min.js"}
  %script{:src => "js/popup.js"}
  %script{:src => "js/work_popup.js"}
  :javascript
    $(document).ready(function() {
      $('.js-contact-link').on('click', function() {
        return Popup.show('.js-contact-popup');
      });
      $('.js-contact-popup .js-popup-close').on('click', function() {
        return Popup.hide('.js-contact-popup');
      });
    });
